<% layout("/layouts/boilerplate") -%>

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="alert alert-danger col-6" role="alert">
        <h5 class="text-center" style="font-size: 1.5rem;"> <%= message %> </h5>
    </div>
</div>


